absl-py==2.3.1
aiofiles==25.1.0
ale-py==0.11.2
annotated-types==0.7.0
anyio==4.12.0
array-api-compat==1.13.0
attrs==25.4.0
Box2D==2.3.10
cattrs==1.5.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
chex==0.1.90
click==8.3.1
cloudpickle==3.1.2
clr_loader==0.2.10
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
distro==1.9.0
etils==1.13.0
exceptiongroup==1.3.1
Farama-Notifications==0.0.4
filelock==3.20.1
flax==0.10.7
fonttools==4.61.1
fsspec==2025.12.0
gitdb==4.0.12
GitPython==3.1.46
git-filter-repo==2.47.0
glfw==2.10.0
groq==1.0.0
grpcio==1.48.2
gym==0.26.2
gymnasium==1.2.3
gym-notices==0.1.0
h11==0.16.0
h5py==3.15.1
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.2.3
humanize==4.15.0
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
importlib_resources==6.5.2
jax==0.6.2
jaxlib==0.6.2
Jinja2==3.1.6
kiwisolver==1.4.9
llvmlite==0.46.0
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mlagents==1.1.0
mlagents-envs==1.1.0
ml_dtypes==0.5.4
more-itertools==10.8.0
MouseInfo==0.1.3
moviepy==2.2.1
mpmath==1.3.0
msgpack==1.1.2
mujoco==3.4.0
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.63.1
numpy==2.2.6
onnx==1.15.0
openai-whisper==20250625
opencv-python==4.13.0.90
optax==0.2.6
opt_einsum==3.4.0
orbax-checkpoint==0.11.32
orjson==3.11.8
packaging==25.0
pandas==2.3.3
pettingzoo==1.26.1
pillow==11.3.0
pip==23.0.1
platformdirs==4.5.1
poke_env==0.15.0
proglog==0.1.12
protobuf==3.20.3
psutil==7.2.2
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.2
PyMsgBox==2.0.1
pynput==1.8.1
PyOpenGL==3.1.10
pyparsing==3.3.2
pyperclip==1.11.0
pypiwin32==223
PyRect==0.2.0
PyScreeze==1.0.1
PySide6==6.10.1
PySide6_Addons==6.10.1
PySide6_Essentials==6.10.1
pythonnet==3.0.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytweening==1.2.0
pytz==2025.2
pywin32==311
PyYAML==6.0.3
regex==2026.1.15
requests==2.32.5
rich==14.3.1
sb3_contrib==2.8.0
scipy==1.15.3
sentry-sdk==2.51.0
setuptools==65.5.0
shellingham==1.5.4
shiboken6==6.10.1
Shimmy==2.0.0
simplejson==3.20.2
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
stable_baselines3==2.8.0
swig==4.4.1
sympy==1.13.1
tabulate==0.10.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorstore==0.1.78
tiktoken==0.12.0
toolz==1.1.0
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
tqdm==4.67.1
treescope==0.1.10
typer-slim==0.20.1
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
urllib3==2.6.3
wandb==0.24.1
websockets==16.0
Werkzeug==3.1.4
zipp==3.23.0
